<!DOCTYPE html>
<html>
    <head>
        <title>
            add new pages
        </title>
    </head>
    <body>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <p>Enter the title of the page below:</p>
            <textarea name="title">{{ title }}</textarea>
            <p>Enter the markdown content of the page below:</p>
            <textarea name="content">{{ content }}</textarea>
            <input type="submit" value="Save">
        </form>
    </body>
</html>